body {
    background-image: url('images/brasil.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    padding: 0;
   font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header, main, footer {
    padding: 20px;
}


.meu-texto {
    font-size: 36px;
    text-shadow: 2px 2px 4px #f1dcdc;
    color: rgb(87, 6, 6); /* Adiciona cor ao texto para garantir legibilidade sobre a imagem de fundo */
}

#resultados img {
    width: 200px; /* Ajuste o tamanho das imagens conforme necessário */
    margin: 10px;
    border-radius: 8px; /* Adiciona bordas arredondadas às imagens */
}
