/* Define o estilo básico para o corpo da página */
body {
    background-image: url('images/brasil.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Bungee Tint', cursive; 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


header {
    margin-bottom: 20px; 
}


.meu-texto {
    text-shadow: 2px 4px 6px #87d51a;
    font-size: 45px;
}


main {
    flex: 1; /* Faz o main ocupar o espaço restante */
    padding: 40px; /* Adiciona espaço ao redor do conteúdo */
}

/* Estilo para o rodapé */
footer {
    background-color: #ddf227; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto */
    text-align: center;
    padding: 2px;
    position: relative;
    bottom: 0;
    width: 100%; /* Garante que o rodapé ocupe toda a largura da página */
}

/* Estilo para as imagens */
#resultados img {
    max-width: 10%;
    height:min-content;
    display: 1;
    margin: 2px 
}
/* Estilo para a caixa de pesquisa */
#inputLugar {
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 600px; /* Define um tamanho máximo */
    padding: 10px; /* Adiciona espaçamento interno */
    font-size: 18px; /* Define o tamanho da fonte */
    border: 2px solid #333; /* Define a borda */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    margin-bottom: 10px; /* Adiciona espaço abaixo da caixa de pesquisa */
}

/* Estilo para o botão de pesquisa */
#searchButton {
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 200px; /* Define um tamanho máximo */
    padding: 10px; /* Adiciona espaçamento interno */
    font-size: 18px; /* Define o tamanho da fonte */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    background-color: #87d51a; /* Define a cor de fundo */
    color: #fff; /* Define a cor do texto */
    cursor: pointer; /* Muda o cursor para uma mão ao passar sobre o botão */
    transition: background-color 0.3s; /* Adiciona uma transição suave para a cor de fundo */
}

#searchButton:hover {
    background-color: #6fb829; /* Muda a cor de fundo ao passar o mouse sobre o botão */
}
